@charset "utf-8";

html, body {width:100%; min-width:100%;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {margin:0; padding:0;}
fieldset, img {border:0 none;}
dl, ul, ol, menu, li {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
input, select, textarea, button {vertical-align:middle;}
button {border:0 none; background-color:transparent; cursor:pointer;}
body {background:#fff;}
body, th, td, input, select, textarea, button {font-size:15px; line-height:1.5; font-style:normal; font-family:'Noto Sans KR', 'Open Sans', "맑은 고딕", "Malgun Gothic", sans-serif, "돋움", "Dotum", "굴림", "Gulim"; color:#666;}
a {color:#666; color:inherit; text-decoration:none; outline:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); -webkit-tap-highlight-color:transparent;}
button, input[type=submit], input[type=button] {cursor:pointer; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); -webkit-tap-highlight-color:transparent;}
a:hover, a:active, a:focus {color:#666; color:inherit; text-decoration:none !important;}
a:visited {color:#666; color:inherit;}
address, caption, cite, code, dfn, em, var {font-style:normal; font-weight:normal;}
legend {font-size:0; line-height:0; padding:0;}
strong {font-weight:bold;}
::selection {outline:none; background:#ffc410; color:#fff;}
input:focus{outline:none;}
input::placeholder{color: #d3d3d3;}
select:focus{outline:none;}
.no-js { display:none; }