
.warpper{
    width: 100%;
}
.header_warpper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header_area{
    display: flex;
    max-width: 1150px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo_menu_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_logo_wrap{
    font-size: 24px;
    font-weight: 800;
    color: #202020;
    margin-right: 36px;
}
.menu_warpper ul{
    display: flex;
}
.menu_warpper ul li{
    margin-right: 16px;
    font-size: 1rem;
    cursor:pointer;
    letter-spacing: 2px;
    color: #404040;
}
.menu_warpper ul li:last-child{
    margin-right: 0;
}
.btn_wrapper button{
    display: flex;
}

.main_warpper{
    width: 100%;
    display: ;
}

.full_screen_container{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
}
.full_screen_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;
    color: #202020;
}
.full_screen_menu ul li{
    margin-bottom: 24px;
}
.full_screen_menu ul li:last-child{
    margin-bottom: 0;
}
.menu_clear{
    position: fixed;
    top: 50px;
    right: 50px;
}